<!-- Button trigger modal -->
<button
  type="button"
  class="button-agradecimento"
  data-bs-toggle="modal"
  data-bs-target="#staticBackdrop"
>
  <i class="fa fa-thumb-tack fa-lg" aria-hidden="true"> </i>
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Agradecimento</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          Esse projeto foi desenvolvido decorrente do programa interno da
          Concert Technologies Formando Devs.
        </p>
        <p>
          Foi contado com o auxilio do Gustavo Andrade, meu mentor durante o
          processo.
        </p>
        <p>Desenvolvido pelo Otthon de Oliveira Cândido.</p>
        <p>Telefone: (31) 99328-6383</p>
        <p>E-mail: Otthon01Candido@gmail.com <br /></p>
        <p>LinkedIn: Otthon Cândido</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>
