@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap");

.header-elements {
  width: 100%;
  height: 100%;
}

img {
  height: 100%;
  height: 100%;
}
.max-width {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.align-itens {
  justify-items: center;
}

h3 {
  font-family: "Titillium Web", sans-serif;
}
