.size-botton {
  -webkit-transition: background-color 1s;
  background-color: white;
}
.size-botton:hover {
  -webkit-transition: background-color 1s;
  background-color: rgb(139, 139, 139);
}

.timer,
.info,
.botao-expand {
  -webkit-transition: transform 1s;
  transform: scale(0.9);
}

.botao-expand:hover {
  transform: scale(1);
  -webkit-transition: transform 1s;
}

.info:hover {
  transform: scale(1);
  -webkit-transition: transform 1s;
}
.timer:hover {
  transform: scale(1);
  -webkit-transition: transform 1s;
}

.header-size {
  display: flex;
  width: 100%;
  justify-content: center;
}
.header {
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  border-width: medium;
  color: white;
  display: flex;
  justify-items: center;
  width: auto;
}

.cartao {
  display: grid;
  border-radius: 25px;
  border-style: solid;
  border-width: medium;
  width: auto;
  margin-left: 50px;
  margin-right: 50px;
  background-color: rgb(5, 29, 64);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  height: 280px;
  justify-items: center;
}

.tabelas {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(198, 247, 253);
}

.tabela-size {
  width: 85%;
  justify-content: center;
  background-color: rgb(198, 247, 253);
  display: flex;
  flex-wrap: nowrap;
  margin-top: 30px;
}

.borda {
  text-align: center;
  display: block;
  justify-items: center;
  border-radius: 10px;
  border-style: solid;
  border-width: medium;
  background-color: white;
}
.borda2 {
  height: 300px;
  border-radius: 10px;
  border-style: solid;
  border-width: medium;
  background-color: white;
}

ol,
ul {
  padding-left: 0rem;
}

p {
  margin: 0px;
  padding: 0px;
  color: white;
  font-size: 10px;
  margin-bottom: 8px;
  text-align: center;
}

h3 {
  margin: 0px;
  padding: 0px;
  color: white;
  font-size: 11px;
  text-align: center;
}

h1 {
  text-align: start;
  margin-left: auto;
  height: 25px;
  width: 80%;
  border-bottom-width: medium;
  border-bottom-style: solid;
  font-size: 18px;
  background-color: rgb(227, 171, 255);
  border-top-left-radius: 50px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 50px;
  border-left-style: solid;
  border-left-width: initial;
  padding-left: 20px;
}
.fa-sm {
  font-size: 0.8em;
  line-height: 1em;
  vertical-align: 25%;
  margin-left: -1.7px;
}

.botao-expand {
  width: 23px;
  height: 23px;
  border-radius: 10px;
  border-style: none;
  border-width: medium;
}

.info {
  border-style: none;
  background-color: white;
}

.expand {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.showcartao {
  border-radius: 25px;
  border-style: solid;
  border-width: medium;
  width: 75%;
  background-color: rgb(5, 29, 64);
  margin: 0px;
  padding: 0px;
  height: auto;
  align-items: center;
}

.showcartao h3 {
  margin: 0px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 15px;
}

.showcartao p {
  margin: 0px;
  padding: 0px;
  text-align: center;
  width: 80%;
  color: white;
  font-size: 15px;
  margin-bottom: 20px;
}

.modal-body {
  display: grid;
  justify-items: center;
}

.size-botton {
  width: 25px;
  height: 25px;
}

.arrow-up {
  width: 25px;
  height: 25px;
  margin-bottom: -10px;
}

.arrow-down {
  margin-top: -4px;
}

.edit {
  padding: 0rem 0rem;
  height: 30px;
  width: 30px;
  box-shadow: none;
  margin-bottom: 10px;
}

.grid {
  display: grid;
  justify-items: center;
}

.save-botton {
  margin-left: 10px;
}

.accordion {
  display: grid;
  justify-items: center;
}

.porcentagem {
  margin-top: 5px;
  width: 100px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  font-size: 20px;
  border-width: medium;
  background-color: rgb(5, 29, 64);
  color: white;
  text-align: center;
}

.green {
  background-color: green;
}
.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.botao-status {
  width: 23px;
  height: 23px;
  border-style: none;
  border-width: thin;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
}

.status {
  width: 100%;
  display: flex;
  justify-content: start;
  margin-left: 30px;
}
.status-show {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.form-control {
  width: 150px;
}

.date {
  padding-top: 2px;
  font-size: 14px;
  color: black;
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  height: 25px;
  width: 120px;
  margin-left: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.timer {
  border-radius: 10px;
  border-style: none;
  border-width: medium;
  width: 35px;
  height: 35px;
  background-color: white;
  margin-top: 5px;
}

.fa-clock-o {
  color: black;
}

.accordion-body-timer {
  margin-top: 3px;
  padding-top: 2px;
  font-size: 14px;
  color: black;
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  height: 25px;
  width: 90px;
  margin-bottom: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.alert-red {
  background-color: red;
}

.alert-yellow {
  background-color: yellow;
}

@media (max-width: 576px) {
  .tabela-size {
    width: 50%;
    justify-content: center;
    background-color: rgb(198, 247, 253);
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  .borda {
    margin-bottom: 20px;
  }
  .borda2 {
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .tabela-size {
    width: 50%;
    justify-content: center;
    background-color: rgb(198, 247, 253);
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  .borda {
    margin-bottom: 20px;
  }
  .borda2 {
    margin-bottom: 20px;
  }
}
